In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# 한글을 인식하게 해주는 코드

from matplotlib import font_manager,rc
import platform
import matplotlib

if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:    
# Mac 인 경우
    rc('font', family='AppleGothic')

matplotlib.rcParams['axes.unicode_minus'] = False

# 데이터 불러오기

In [3]:
test = pd.read_csv('./dataset/test.csv')
train = pd.read_csv('./dataset/train.csv')
age_gender = pd.read_csv('./dataset/age_gender_info.csv')

# 데이터 훑어보기

In [4]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [5]:
train.tail()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000,116090,0.0,1.0,166.0,146.0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000,142310,0.0,1.0,166.0,146.0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000,151030,0.0,1.0,166.0,146.0

In [6]:
train.shape

(2952, 15)

In [7]:
test.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0

In [8]:
test.shape

(1022, 14)

In [9]:
age_gender.head()

,지역,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,경상북도,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,...,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014
1,경상남도,0.027400,0.026902,0.053257,0.055568,0.064920,0.070618,0.056414,0.057550,0.077092,...,0.087201,0.069562,0.048357,0.033277,0.027361,0.011295,0.004910,0.001086,0.000179,0.000010
2,대전광역시,0.028197,0.029092,0.040490,0.042793,0.060834,0.064247,0.068654,0.066848,0.074667,...,0.088468,0.070261,0.051010,0.037143,0.032455,0.013751,0.006494,0.001740,0.000298,0.000066
3,경기도,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,...,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067
4,전라북도,0.028089,0.029065,0.059685,0.060080,0.066262,0.070322,0.052027,0.046596,0.077005,...,0.076636,0.068042,0.051025,0.035748,0.035049,0.012641,0.007223,0.001898,0.000158,0.000013

In [10]:
age_gender.shape

(16, 23)

In [11]:
train.info() # 임대보증금, 임대보증료,지하철, 버스정류장에 null값

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [12]:
test.info() # 자격유형, 임대보증금, 임대료, 도보 10분거리 지하철역 수 null값이 존재

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1022 non-null   object
 1   총세대수                          1022 non-null   int64
 2   임대건물구분                        1022 non-null   object
 3   지역                            1022 non-null   object
 4   공급유형                          1022 non-null   object
 5   전용면적                          1022 non-null   float64
 6   전용면적별세대수                      1022 non-null   int64
 7   공가수                           1022 non-null   float64
 8   자격유형                          1020 non-null   object
 9   임대보증금                         842 non-null    object
 10  임대료                           842 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  980 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 13  단지내주차면수                       1022 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 111.9+ KB

# 중복데이터 제거

In [13]:
train = train.drop_duplicates()

In [14]:
train.shape

(2632, 15)

# train데이터의 null값 확인

In [15]:
(train['임대보증금'].isnull()).sum()

292

In [16]:
(train['임대료'].isnull()).sum()

292

In [17]:
(train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()).sum()

155

In [18]:
(train['도보 10분거리 내 버스정류장 수'].isnull()).sum()

4

In [87]:
train[train['공급유형']=='공공분양']

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2331,C1350,1401,아파트,대전광역시,공공분양,74.94,317,2.0,D,26826528.0,195508.0,0.0,6.0,1636.0,2315.0
2332,C1350,1401,아파트,대전광역시,공공분양,74.94,137,2.0,D,26826528.0,195508.0,0.0,6.0,1636.0,2315.0
2333,C1350,1401,아파트,대전광역시,공공분양,74.94,22,2.0,D,26826528.0,195508.0,0.0,6.0,1636.0,2315.0
2334,C1350,1401,아파트,대전광역시,공공분양,84.94,164,2.0,D,26826528.0,195508.0,0.0,6.0,1636.0,2315.0
2335,C1350,1401,아파트,대전광역시,공공분양,84.94,19,2.0,D,26826528.0,195508.0,0.0,6.0,1636.0,2315.0
2336,C1350,1401,아파트,대전광역시,공공분양,84.96,26,2.0,D,26826528.0,195508.0,0.0,6.0,1636.0,2315.0
2337,C1350,1401,아파트,대전광역시,공공분양,84.97,26,2.0,D,26826528.0,195508.0,0.0,6.0,1636.0,2315.0

## 임대보증금 처리 -> 평균값으로 대체

In [19]:
train[train['임대보증금'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,NaN,NaN,0.0,4.0,117.0,75.0
101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
102,C1874,619,상가,충청남도,임대상가,17.40,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
104,C1874,619,상가,충청남도,임대상가,22.89,1,2.0,D,NaN,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2333,C1350,1401,아파트,대전광역시,공공분양,74.94,22,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2334,C1350,1401,아파트,대전광역시,공공분양,84.94,164,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2335,C1350,1401,아파트,대전광역시,공공분양,84.94,19,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2336,C1350,1401,아파트,대전광역시,공공분양,84.96,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0
2337,C1350,1401,아파트,대전광역시,공공분양,84.97,26,2.0,D,NaN,NaN,NaN,6.0,1636.0,2315.0

In [20]:
# '-' 값을 NaN값으로 변환
train[train['임대보증금']=='-'] = train[train['임대보증금']=='-'].replace('-',np.NAN)

In [21]:
# 특성 파악을 위해 float형태로 변환
train['임대보증금'] = train['임대보증금'].astype(float)

In [22]:
# 변경됨을 확인
(train['임대보증금'].isnull()).sum()

304

In [23]:
# '임대보증금'의 특성 확인
train['임대보증금'].describe()

count    2.328000e+03
mean     2.682653e+07
std      2.171244e+07
min      3.056000e+06
25%      1.441800e+07
50%      2.080100e+07
75%      3.244300e+07
max      2.164230e+08
Name: 임대보증금, dtype: float64

In [24]:
# 평균값 확인
mean = train['임대보증금'].mean()
mean = np.round(mean)
mean

26826528.0

In [25]:
#NaN값을 평균값으로 변경
train['임대보증금'] = train['임대보증금'].fillna(mean)

In [26]:
# 변경됨을 확인
(train['임대보증금'].isnull()).sum()

0

## 임대료 처리 -> 평균으로 대체

In [27]:
train[train['임대료'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
88,C1925,601,상가,강원도,임대상가,32.10,1,9.0,D,26826528.0,NaN,0.0,4.0,117.0,75.0
91,C1925,601,상가,강원도,임대상가,72.16,1,9.0,D,26826528.0,NaN,0.0,4.0,117.0,75.0
101,C1874,619,상가,충청남도,임대상가,12.62,1,2.0,D,26826528.0,NaN,NaN,2.0,97.0,62.0
102,C1874,619,상가,충청남도,임대상가,17.40,1,2.0,D,26826528.0,NaN,NaN,2.0,97.0,62.0
104,C1874,619,상가,충청남도,임대상가,22.89,1,2.0,D,26826528.0,NaN,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2682,C1786,480,아파트,강원도,행복주택,26.90,72,25.0,K,26826528.0,NaN,0.0,3.0,338.0,345.0
2683,C1786,480,아파트,강원도,행복주택,26.90,24,25.0,K,26826528.0,NaN,0.0,3.0,338.0,345.0
2906,C2186,924,아파트,대구광역시,국민임대,29.17,238,0.0,H,26826528.0,NaN,0.0,8.0,664.0,744.0
2907,C2186,924,아파트,대구광역시,국민임대,29.34,38,0.0,H,26826528.0,NaN,0.0,8.0,664.0,744.0
2908,C2186,924,아파트,대구광역시,국민임대,37.43,220,0.0,H,26826528.0,NaN,0.0,8.0,664.0,744.0

In [28]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2632 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2632 non-null   object
 1   총세대수                          2632 non-null   int64
 2   임대건물구분                        2632 non-null   object
 3   지역                            2632 non-null   object
 4   공급유형                          2632 non-null   object
 5   전용면적                          2632 non-null   float64
 6   전용면적별세대수                      2632 non-null   int64
 7   공가수                           2632 non-null   float64
 8   자격유형                          2632 non-null   object
 9   임대보증금                         2632 non-null   float64
 10  임대료                           2328 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2477 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2628 non-null   float64
 13  단지내주차면수                       2632 non-null   float64
 14  등록차량수                         2632 non-null   float64
dtypes: float64(7), int64(2), object(6)
memory usage: 329.0+ KB

In [29]:
# '-' 값을 NaN값으로 변환
train[train['임대료']=='-'] = train[train['임대료']=='-'].replace('-',np.NAN)

# 특성 파악을 위해 float형태로 변환
train['임대료'] = train['임대료'].astype(float)

In [30]:
# 변경됨을 확인
train[train['임대료']=='-']

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 도보 10분거리 내 지하철역 수(환승노선 수 반영), 도보 10분거리 내 버스정류장 수, 단지내주차면수, 등록차량수]
Index: []

In [31]:
train['임대료'].describe()

count    2.319000e+03
mean     1.955080e+05
std      1.307436e+05
min      1.665000e+04
25%      1.105500e+05
50%      1.610200e+05
75%      2.359800e+05
max      1.058030e+06
Name: 임대료, dtype: float64

In [32]:
# 평균값 확인
mean = train['임대료'].mean()
mean = np.round(mean)
mean

195508.0

In [33]:
#NaN값을 평균값으로 변경
train['임대료'] = train['임대료'].fillna(mean)

In [34]:
# 변경됨을 확인
(train['임대료'].isnull()).sum()

0

## 지하철 처리 -> 0으로 변경

In [35]:
train[train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
94,C1312,518,아파트,충청남도,국민임대,39.72,60,12.0,A,17460000.0,122210.0,NaN,3.0,527.0,359.0
95,C1312,518,아파트,충청남도,국민임대,39.98,89,12.0,A,17460000.0,122210.0,NaN,3.0,527.0,359.0
96,C1312,518,아파트,충청남도,국민임대,41.55,225,12.0,A,19954000.0,130940.0,NaN,3.0,527.0,359.0
97,C1312,518,아파트,충청남도,국민임대,46.90,143,12.0,A,28687000.0,149660.0,NaN,3.0,527.0,359.0
98,C1874,619,아파트,충청남도,영구임대,26.37,294,2.0,C,3141000.0,69900.0,NaN,2.0,97.0,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2339,C1350,1401,아파트,대전광역시,공공임대(10년),59.91,13,2.0,A,37474000.0,519350.0,NaN,6.0,1636.0,2315.0
2340,C1350,1401,아파트,대전광역시,공공임대(10년),59.92,223,2.0,A,37385000.0,516130.0,NaN,6.0,1636.0,2315.0
2341,C1350,1401,아파트,대전광역시,공공임대(분납),51.99,146,2.0,A,54612000.0,131130.0,NaN,6.0,1636.0,2315.0
2342,C1350,1401,아파트,대전광역시,공공임대(분납),59.91,32,2.0,A,63585000.0,152680.0,NaN,6.0,1636.0,2315.0
2343,C1350,1401,아파트,대전광역시,공공임대(분납),59.92,170,2.0,A,63501000.0,152480.0,NaN,6.0,1636.0,2315.0

In [82]:
train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].value_counts() #최빈값이 0이기 때문에 0으로 처리

0.0    2285
1.0     308
2.0      33
3.0       6
Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: int64

In [36]:
(train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()).sum()

155

In [37]:
train[train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()]['단지코드'].value_counts()

C1616    16
C1875    16
C2258    16
C1874    16
C1004    15
C1350    13
C2583    10
C1983     8
C2100     6
C1068     6
C2644     6
C1649     4
C1312     4
C1704     4
C1005     3
C2156     3
C1175     3
C1424     3
C2216     2
C2520     1
Name: 단지코드, dtype: int64

In [38]:
# 단지코드가 같을 때 지하철역수를 대입하려고 했는데 모두 NaN 이라 실패 ..
code = ['C1616','C1875','C2258','C1874','C1004','C1350','C2583','C1983','C2100','C1068','C2644','C1649','C1312','C1704','C1005',
        'C2156','C1175','C1424','C2216','C2520']
for i in code:
    print(train[train['단지코드'] == 'i']['도보 10분거리 내 지하철역 수(환승노선 수 반영)'])

Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)
Series([], Name: 도보 10분거리 내 지하철역 수(환승노선 수 반영), dtype: float64)

In [39]:
#NaN값을 0으로 변경
train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'] = train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0)

In [40]:
(train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()).sum()

0

## 버스 처리 -> 0으로 변경

In [41]:
train[train['도보 10분거리 내 버스정류장 수'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2315,C1649,575,아파트,경상남도,공공임대(10년),74.97,80,15.0,A,46000000.0,456000.0,0.0,NaN,1066.0,855.0
2316,C1649,575,아파트,경상남도,공공임대(10년),84.95,124,15.0,A,57000000.0,462000.0,0.0,NaN,1066.0,855.0
2317,C1649,575,아파트,경상남도,공공임대(10년),84.96,289,15.0,A,57000000.0,462000.0,0.0,NaN,1066.0,855.0
2318,C1649,575,아파트,경상남도,공공임대(10년),84.98,82,15.0,A,57000000.0,462000.0,0.0,NaN,1066.0,855.0

In [83]:
train['도보 10분거리 내 버스정류장 수'].value_counts() # 2값이 제일 많지만, 4건의 데이터이기때문에 0으로 처리

2.0     709
3.0     706
4.0     405
1.0     239
5.0     157
6.0     152
8.0      79
10.0     65
7.0      52
12.0     21
20.0     15
15.0     11
0.0       6
16.0      6
19.0      4
11.0      3
14.0      2
Name: 도보 10분거리 내 버스정류장 수, dtype: int64

In [43]:
#NaN값을 0으로 변경
train['도보 10분거리 내 버스정류장 수'] = train['도보 10분거리 내 버스정류장 수'].fillna(0)

In [44]:
(train['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()).sum()

0

# test데이터의 null값 확인

In [67]:
(test['자격유형'].isnull()).sum()

2

In [68]:
(test['임대보증금'].isnull()).sum()

180

In [69]:
(test['임대료'].isnull()).sum()

180

In [70]:
(test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()).sum()

42

## 임대보증금 처리 -> 평균값으로

In [45]:
test[test['임대보증금'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
76,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
77,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,NaN,NaN,2.0,5.0,428.0
79,C1006,1505,아파트,대전광역시,영구임대,52.74,6,27.0,D,NaN,NaN,2.0,5.0,428.0
80,C1006,1505,상가,대전광역시,임대상가,38.00,1,27.0,D,NaN,NaN,2.0,5.0,428.0
81,C1006,1505,상가,대전광역시,임대상가,38.00,1,27.0,D,NaN,NaN,2.0,5.0,428.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,C1729,627,상가,강원도,임대상가,32.46,1,0.0,D,NaN,NaN,0.0,5.0,131.0
329,C1729,627,상가,강원도,임대상가,34.86,1,0.0,D,NaN,NaN,0.0,5.0,131.0
330,C1729,627,상가,강원도,임대상가,35.76,1,0.0,D,NaN,NaN,0.0,5.0,131.0
331,C1729,627,상가,강원도,임대상가,50.08,1,0.0,D,NaN,NaN,0.0,5.0,131.0
332,C1729,627,상가,강원도,임대상가,240.22,1,0.0,D,NaN,NaN,0.0,5.0,131.0

In [68]:
test[test['임대보증금']=='-'] = test[test['임대보증금']=='-'].replace('-',np.NAN)
test['임대보증금'] = test['임대보증금'].astype(float)

In [69]:
# 평균값 확인
mean = test['임대보증금'].mean()
mean = np.round(mean)
mean

25050940.0

In [70]:
#NaN값을 평균값으로 변경
test['임대보증금'] = test['임대보증금'].fillna(mean)

In [71]:
# 변경됨을 확인
(test['임대보증금'].isnull()).sum()

0

## 임대료 처리 -> 평균값으로

In [72]:
test[test['임대료'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
76,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,25050940.0,NaN,2.0,5.0,428.0
77,C1006,1505,아파트,대전광역시,영구임대,26.37,10,27.0,D,25050940.0,NaN,2.0,5.0,428.0
79,C1006,1505,아파트,대전광역시,영구임대,52.74,6,27.0,D,25050940.0,NaN,2.0,5.0,428.0
80,C1006,1505,상가,대전광역시,임대상가,38.00,1,27.0,D,25050940.0,NaN,2.0,5.0,428.0
81,C1006,1505,상가,대전광역시,임대상가,38.00,1,27.0,D,25050940.0,NaN,2.0,5.0,428.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006,C2152,120,아파트,강원도,영구임대,33.84,54,9.0,C,25050940.0,NaN,0.0,1.0,40.0
1014,C1267,675,아파트,경상남도,행복주택,16.94,50,38.0,L,25050940.0,NaN,0.0,1.0,467.0
1015,C1267,675,아파트,경상남도,행복주택,26.85,66,38.0,L,25050940.0,NaN,0.0,1.0,467.0
1016,C1267,675,아파트,경상남도,행복주택,26.85,8,38.0,L,25050940.0,NaN,0.0,1.0,467.0
1017,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,25050940.0,NaN,0.0,1.0,467.0

In [73]:
test[test['임대료']=='-'] = test[test['임대료']=='-'].replace('-',np.NAN)
test['임대료'] = test['임대료'].astype(float)

In [74]:
# 평균값 확인
mean = test['임대료'].mean()
mean = np.round(mean)
mean

177574.0

In [75]:
#NaN값을 평균값으로 변경
test['임대료'] = test['임대료'].fillna(mean)

In [76]:
# 변경됨을 확인
(test['임대료'].isnull()).sum()

0

# 자격유형 처리

In [72]:
test[test['자격유형'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0

In [47]:
test[test['단지코드']=='C2411'] # c2411'단지의 자격유형은 'A'

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
193,C2411,962,아파트,경상남도,국민임대,39.43,56,25.0,A,11992000,100720,0.0,2.0,840.0
194,C2411,962,아파트,경상남도,국민임대,39.72,336,25.0,A,11992000,100720,0.0,2.0,840.0
195,C2411,962,아파트,경상남도,국민임대,39.82,179,25.0,A,11992000,100720,0.0,2.0,840.0
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
197,C2411,962,아파트,경상남도,국민임대,51.93,150,25.0,A,21586000,171480,0.0,2.0,840.0

In [62]:
test[test['단지코드']=='C2253'] # 단지코드와 공급유형이 모두 같은 'c'값으로 선택

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0
259,C2253,1161,아파트,강원도,영구임대,31.32,239,0.0,C,3731000,83020,0.0,2.0,173.0
260,C2253,1161,아파트,강원도,영구임대,31.32,149,0.0,C,3731000,83020,0.0,2.0,173.0
261,C2253,1161,상가,강원도,임대상가,13.77,1,0.0,D,NaN,NaN,0.0,2.0,173.0
262,C2253,1161,상가,강원도,임대상가,22.89,1,0.0,D,NaN,NaN,0.0,2.0,173.0
263,C2253,1161,상가,강원도,임대상가,22.91,1,0.0,D,NaN,NaN,0.0,2.0,173.0
264,C2253,1161,상가,강원도,임대상가,23.79,1,0.0,D,NaN,NaN,0.0,2.0,173.0
265,C2253,1161,상가,강원도,임대상가,23.79,1,0.0,D,NaN,NaN,0.0,2.0,173.0
266,C2253,1161,상가,강원도,임대상가,23.86,1,0.0,D,NaN,NaN,0.0,2.0,173.0
267,C2253,1161,상가,강원도,임대상가,23.86,1,0.0,D,NaN,NaN,0.0,2.0,173.0
268,C2253,1161,상가,강원도,임대상가,24.19,1,0.0,D,NaN,NaN,0.0,2.0,173.0
269,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,NaN,0.0,2.0,173.0
270,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,NaN,0.0,2.0,173.0
271,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,NaN,0.0,2.0,173.0
272,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,NaN,0.0,2.0,173.0
273,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,NaN,0.0,2.0,173.0
274,C2253,1161,상가,강원도,임대상가,27.75,1,0.0,D,NaN,NaN,0.0,2.0,173.0
275,C2253,1161,상가,강원도,임대상가,28.19,1,0.0,D,NaN,NaN,0.0,2.0,173.0
276,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,NaN,NaN,0.0,2.0,173.0
277,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,NaN,NaN,0.0,2.0,173.0
278,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,NaN,NaN,0.0,2.0,173.0
279,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,NaN,NaN,0.0,2.0,173.0
280,C2253,1161,상가,강원도,임대상가,28.69,1,0.0,D,NaN,NaN,0.0,2.0,173.0
281,C2253,1161,상가,강원도,임대상가,28.93,1,0.0,D,NaN,NaN,0.0,2.0,173.0
282,C2253,1161,상가,강원도,임대상가,28.93,1,0.0,D,NaN,NaN,0.0,2.0,173.0
283,C2253,1161,상가,강원도,임대상가,42.35,1,0.0,D,NaN,NaN,0.0,2.0,173.0
284,C2253,1161,상가,강원도,임대상가,42.40,1,0.0,D,NaN,NaN,0.0,2.0,173.0
285,C2253,1161,상가,강원도,임대상가,55.17,1,0.0,D,NaN,NaN,0.0,2.0,173.0
286,C2253,1161,상가,강원도,임대상가,55.50,1,0.0,D,NaN,NaN,0.0,2.0,173.0
287,C2253,1161,상가,강원도,임대상가,82.92,1,0.0,D,NaN,NaN,0.0,2.0,173.0
288,C2253,1161,상가,강원도,임대상가,248.56,1,0.0,D,NaN,NaN,0.0,2.0,173.0

In [65]:
test.loc[(test.단지코드=='C2411')&test.자격유형.isnull(), '자격유형'] = 'A'
test.loc[(test.단지코드=='C2253')&test.자격유형.isnull(), '자격유형'] = 'C'

In [66]:
test[test['자격유형'].isnull()] # 변경됨을 확인

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 도보 10분거리 내 지하철역 수(환승노선 수 반영), 도보 10분거리 내 버스정류장 수, 단지내주차면수]
Index: []

## 지하철 처리 -> 0값으로 처리

In [75]:
test[test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
68,C1472,548,아파트,충청남도,국민임대,36.62,116,2.0,A,8738000,87380,NaN,1.0,442.0
69,C1472,548,아파트,충청남도,국민임대,39.51,56,2.0,A,9985000,99850,NaN,1.0,442.0
70,C1472,548,아파트,충청남도,국민임대,46.79,56,2.0,A,13731000,131070,NaN,1.0,442.0
71,C1472,548,아파트,충청남도,국민임대,46.90,86,2.0,A,13731000,131070,NaN,1.0,442.0
72,C1472,548,아파트,충청남도,국민임대,51.93,234,2.0,A,18726000,143550,NaN,1.0,442.0
100,C1083,427,아파트,대전광역시,국민임대,39.85,40,0.0,A,12483000,106090,NaN,6.0,384.0
101,C1083,427,아파트,대전광역시,국민임대,51.48,64,0.0,A,32459000,187260,NaN,6.0,384.0
102,C1083,427,아파트,대전광역시,국민임대,51.99,107,0.0,A,32459000,187260,NaN,6.0,384.0
103,C1083,427,아파트,대전광역시,국민임대,51.99,96,0.0,A,32459000,187260,NaN,6.0,384.0
104,C1083,427,아파트,대전광역시,국민임대,59.45,120,0.0,A,39950000,243430,NaN,6.0,384.0
168,C2177,1245,아파트,충청남도,영구임대,26.37,478,2.0,C,3141000,69900,NaN,1.0,187.0
169,C2177,1245,아파트,충청남도,영구임대,26.37,596,2.0,C,3141000,69900,NaN,1.0,187.0
170,C2177,1245,아파트,충청남도,영구임대,31.32,149,2.0,C,3731000,83020,NaN,1.0,187.0
171,C2177,1245,상가,충청남도,임대상가,15.00,1,2.0,D,NaN,NaN,NaN,1.0,187.0
172,C2177,1245,상가,충청남도,임대상가,15.00,1,2.0,D,NaN,NaN,NaN,1.0,187.0
173,C2177,1245,상가,충청남도,임대상가,16.57,1,2.0,D,NaN,NaN,NaN,1.0,187.0
174,C2177,1245,상가,충청남도,임대상가,18.38,1,2.0,D,NaN,NaN,NaN,1.0,187.0
175,C2177,1245,상가,충청남도,임대상가,18.38,1,2.0,D,NaN,NaN,NaN,1.0,187.0
176,C2177,1245,상가,충청남도,임대상가,20.90,1,2.0,D,NaN,NaN,NaN,1.0,187.0
177,C2177,1245,상가,충청남도,임대상가,20.90,1,2.0,D,NaN,NaN,NaN,1.0,187.0
178,C2177,1245,상가,충청남도,임대상가,20.90,1,2.0,D,NaN,NaN,NaN,1.0,187.0
179,C2177,1245,상가,충청남도,임대상가,20.90,1,2.0,D,NaN,NaN,NaN,1.0,187.0
180,C2177,1245,상가,충청남도,임대상가,21.94,1,2.0,D,NaN,NaN,NaN,1.0,187.0
181,C2177,1245,상가,충청남도,임대상가,23.35,1,2.0,D,NaN,NaN,NaN,1.0,187.0
182,C2177,1245,상가,충청남도,임대상가,26.25,1,2.0,D,NaN,NaN,NaN,1.0,187.0
183,C2177,1245,상가,충청남도,임대상가,26.25,1,2.0,D,NaN,NaN,NaN,1.0,187.0
184,C2177,1245,상가,충청남도,임대상가,28.50,1,2.0,D,NaN,NaN,NaN,1.0,187.0
185,C2177,1245,상가,충청남도,임대상가,33.15,1,2.0,D,NaN,NaN,NaN,1.0,187.0
186,C2177,1245,상가,충청남도,임대상가,33.31,1,2.0,D,NaN,NaN,NaN,1.0,187.0
187,C2177,1245,상가,충청남도,임대상가,33.39,1,2.0,D,NaN,NaN,NaN,1.0,187.0
188,C2177,1245,상가,충청남도,임대상가,33.51,1,2.0,D,NaN,NaN,NaN,1.0,187.0
189,C2177,1245,상가,충청남도,임대상가,33.51,1,2.0,D,NaN,NaN,NaN,1.0,187.0
190,C2177,1245,상가,충청남도,임대상가,40.39,1,2.0,D,NaN,NaN,NaN,1.0,187.0
191,C2177,1245,상가,충청남도,임대상가,61.89,1,2.0,D,NaN,NaN,NaN,1.0,187.0
192,C2177,1245,상가,충청남도,임대상가,401.50,1,2.0,D,NaN,NaN,NaN,1.0,187.0
305,C1318,312,아파트,충청남도,공공임대(50년),39.51,135,1.0,A,14440000,208840,NaN,11.0,226.0
306,C1318,312,아파트,충청남도,공공임대(50년),39.72,18,1.0,A,14515000,208050,NaN,11.0,226.0
307,C1318,312,아파트,충청남도,공공임대(50년),49.99,159,1.0,A,18269000,258880,NaN,11.0,226.0
891,C1327,98,아파트,대전광역시,행복주택,16.83,30,13.0,J,18800000,94000,NaN,17.0,98.0
892,C1327,98,아파트,대전광역시,행복주택,26.51,10,13.0,J,28400000,142000,NaN,17.0,98.0
893,C1327,98,아파트,대전광역시,행복주택,26.51,10,13.0,J,28400000,142000,NaN,17.0,98.0
894,C1327,98,아파트,대전광역시,행복주택,36.92,48,13.0,J,36800000,184000,NaN,17.0,98.0

In [85]:
#NaN값을 0으로 변경
test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'] = test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].fillna(0)

In [86]:
(test['도보 10분거리 내 지하철역 수(환승노선 수 반영)'].isnull()).sum()

0

In [93]:
age_gender

,지역,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,경상북도,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,...,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014
1,경상남도,0.027400,0.026902,0.053257,0.055568,0.064920,0.070618,0.056414,0.057550,0.077092,...,0.087201,0.069562,0.048357,0.033277,0.027361,0.011295,0.004910,0.001086,0.000179,0.000010
2,대전광역시,0.028197,0.029092,0.040490,0.042793,0.060834,0.064247,0.068654,0.066848,0.074667,...,0.088468,0.070261,0.051010,0.037143,0.032455,0.013751,0.006494,0.001740,0.000298,0.000066
3,경기도,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,...,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067
4,전라북도,0.028089,0.029065,0.059685,0.060080,0.066262,0.070322,0.052027,0.046596,0.077005,...,0.076636,0.068042,0.051025,0.035748,0.035049,0.012641,0.007223,0.001898,0.000158,0.000013
5,강원도,0.028888,0.030682,0.051287,0.052712,0.060374,0.063157,0.059821,0.054321,0.076201,...,0.088423,0.070014,0.047732,0.032760,0.033515,0.013027,0.007628,0.001677,0.000319,0.000017
6,광주광역시,0.031994,0.034566,0.049851,0.050254,0.065084,0.066875,0.066888,0.064416,0.080028,...,0.075930,0.059586,0.048552,0.031754,0.029749,0.010341,0.006343,0.000895,0.000353,0.000013
7,충청남도,0.031369,0.031711,0.059077,0.062422,0.067975,0.072622,0.065095,0.067303,0.078860,...,0.070278,0.057692,0.042296,0.028682,0.024514,0.010900,0.005429,0.001549,0.000219,0.000123
8,부산광역시,0.022003,0.022947,0.032681,0.035512,0.053796,0.057233,0.047049,0.048866,0.061952,...,0.109297,0.085294,0.078743,0.053388,0.047908,0.020228,0.008043,0.002240,0.000268,0.000028
9,제주특별자치도,0.034690,0.036695,0.060094,0.063080,0.069135,0.069667,0.050808,0.048026,0.080548,...,0.074248,0.055717,0.047944,0.033054,0.026836,0.011332,0.006832,0.000982,0.000368,0.000082
10,울산광역시,0.023991,0.025997,0.053874,0.056967,0.064240,0.074689,0.052830,0.052412,0.078450,...,0.096422,0.069088,0.052913,0.039413,0.026540,0.011912,0.004221,0.001087,0.000084,0.000000
11,충청북도,0.034678,0.035339,0.059808,0.061570,0.060824,0.064937,0.061069,0.056625,0.082318,...,0.075390,0.062427,0.041814,0.027566,0.027762,0.011212,0.005386,0.001310,0.000257,0.000037
12,전라남도,0.031930,0.034647,0.059154,0.063379,0.065517,0.070339,0.057977,0.053471,0.078358,...,0.071465,0.062352,0.042535,0.030704,0.027340,0.009312,0.005965,0.001458,0.000149,0.000464
13,대구광역시,0.023765,0.025626,0.034098,0.037897,0.062559,0.068251,0.061825,0.071207,0.070090,...,0.094511,0.073133,0.055914,0.036572,0.031887,0.012556,0.005364,0.001259,0.000219,0.000000
14,서울특별시,0.015323,0.015627,0.025210,0.026121,0.052712,0.056782,0.047655,0.051877,0.054216,...,0.119639,0.078939,0.097543,0.061050,0.047853,0.023463,0.011344,0.003326,0.000532,0.000152
15,세종특별자치시,0.037159,0.036601,0.053172,0.050047,0.079284,0.064833,0.106121,0.104447,0.075155,...,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.001004,0.000279,0.000112

# age_gender 데이터 이용 
 - 지역데이터를 수치적인 의미가 있는 데이터로 사용하기 위해 컬럼을 추가

In [94]:
# age_gender의 20대 미만의비율만을 사용하기 위해 20대 미만의 합을 새로운 컬럼으로 등재

,지역,10대미만(여자),10대미만(남자),10대(여자),10대(남자),20대(여자),20대(남자),30대(여자),30대(남자),40대(여자),...,60대(여자),60대(남자),70대(여자),70대(남자),80대(여자),80대(남자),90대(여자),90대(남자),100대(여자),100대(남자)
0,경상북도,0.030158,0.033195,0.056346,0.061360,0.060096,0.067859,0.053433,0.049572,0.083660,...,0.082684,0.063889,0.047717,0.030172,0.029361,0.011211,0.005578,0.001553,0.000234,0.000014
1,경상남도,0.027400,0.026902,0.053257,0.055568,0.064920,0.070618,0.056414,0.057550,0.077092,...,0.087201,0.069562,0.048357,0.033277,0.027361,0.011295,0.004910,0.001086,0.000179,0.000010
2,대전광역시,0.028197,0.029092,0.040490,0.042793,0.060834,0.064247,0.068654,0.066848,0.074667,...,0.088468,0.070261,0.051010,0.037143,0.032455,0.013751,0.006494,0.001740,0.000298,0.000066
3,경기도,0.038030,0.039507,0.052546,0.053990,0.058484,0.059894,0.072331,0.068704,0.083208,...,0.074237,0.058419,0.042422,0.032725,0.025136,0.012354,0.005390,0.001707,0.000290,0.000067
4,전라북도,0.028089,0.029065,0.059685,0.060080,0.066262,0.070322,0.052027,0.046596,0.077005,...,0.076636,0.068042,0.051025,0.035748,0.035049,0.012641,0.007223,0.001898,0.000158,0.000013
5,강원도,0.028888,0.030682,0.051287,0.052712,0.060374,0.063157,0.059821,0.054321,0.076201,...,0.088423,0.070014,0.047732,0.032760,0.033515,0.013027,0.007628,0.001677,0.000319,0.000017
6,광주광역시,0.031994,0.034566,0.049851,0.050254,0.065084,0.066875,0.066888,0.064416,0.080028,...,0.075930,0.059586,0.048552,0.031754,0.029749,0.010341,0.006343,0.000895,0.000353,0.000013
7,충청남도,0.031369,0.031711,0.059077,0.062422,0.067975,0.072622,0.065095,0.067303,0.078860,...,0.070278,0.057692,0.042296,0.028682,0.024514,0.010900,0.005429,0.001549,0.000219,0.000123
8,부산광역시,0.022003,0.022947,0.032681,0.035512,0.053796,0.057233,0.047049,0.048866,0.061952,...,0.109297,0.085294,0.078743,0.053388,0.047908,0.020228,0.008043,0.002240,0.000268,0.000028
9,제주특별자치도,0.034690,0.036695,0.060094,0.063080,0.069135,0.069667,0.050808,0.048026,0.080548,...,0.074248,0.055717,0.047944,0.033054,0.026836,0.011332,0.006832,0.000982,0.000368,0.000082
10,울산광역시,0.023991,0.025997,0.053874,0.056967,0.064240,0.074689,0.052830,0.052412,0.078450,...,0.096422,0.069088,0.052913,0.039413,0.026540,0.011912,0.004221,0.001087,0.000084,0.000000
11,충청북도,0.034678,0.035339,0.059808,0.061570,0.060824,0.064937,0.061069,0.056625,0.082318,...,0.075390,0.062427,0.041814,0.027566,0.027762,0.011212,0.005386,0.001310,0.000257,0.000037
12,전라남도,0.031930,0.034647,0.059154,0.063379,0.065517,0.070339,0.057977,0.053471,0.078358,...,0.071465,0.062352,0.042535,0.030704,0.027340,0.009312,0.005965,0.001458,0.000149,0.000464
13,대구광역시,0.023765,0.025626,0.034098,0.037897,0.062559,0.068251,0.061825,0.071207,0.070090,...,0.094511,0.073133,0.055914,0.036572,0.031887,0.012556,0.005364,0.001259,0.000219,0.000000
14,서울특별시,0.015323,0.015627,0.025210,0.026121,0.052712,0.056782,0.047655,0.051877,0.054216,...,0.119639,0.078939,0.097543,0.061050,0.047853,0.023463,0.011344,0.003326,0.000532,0.000152
15,세종특별자치시,0.037159,0.036601,0.053172,0.050047,0.079284,0.064833,0.106121,0.104447,0.075155,...,0.065279,0.051163,0.026056,0.026223,0.013893,0.007086,0.003459,0.001004,0.000279,0.000112